<%= form_with(model: timer, local: true) do |form| %>
  <% if timer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timer.errors.count, "error") %> prohibited this timer from being saved:</h2>

      <ul>
      <% timer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :count_time %>
    <%= form.text_field :count_time, id: :timer_count_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
