<h3>Count time</h3> <div id="counter">00:00:00</div>
<%= form_with(model: timer, local: true) do |form| %>
  <% if timer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timer.errors.count, "error") %> prohibited this timer from being saved:</h2>

      <ul>
      <% timer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- <#%= form.label :count_time %> -->
    <%= form.hidden_field :count_time, id: :timer_count_time %>
    <!-- <input type="time" id="timer_count_time"> -->
  </div>

  <div class="actions">
    <%= form.submit 'Save' %>
  </div>
<% end %>

<button id="start">Start</button>
<button id="stop">Stop</button>
<button id="reset">Reset</button>

<script>
  var startButton = document.querySelector('#start');
  var stopButton = document.querySelector('#stop');
  var resetButton = document.querySelector('#reset');
  var theTimer = document.querySelector("#fake_timer");



  startButton.addEventListener('click', startTimer, false);
  // start.addEventListener('click', () => { startTimer(event) }, false);
  stopButton.addEventListener('click', stopTimer, false);
  // stop.addEventListener('click', () => { stopTimer(event) }, false);
  resetButton.addEventListener("click", reset, false);
  // resetButton.addEventListener('click', () => { resetTimer(event) }, false);


</script>
